@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #f0fdf6;
  --color-primary-100: #dcfce9;
  --color-primary-200: #bbf7d4;
  --color-primary-300: #a3e9c8;
  --color-primary-400: #76ddaa;
  --color-primary-500: #5bb88a;
  --color-primary-600: #47966e;
  --color-primary-700: #366f53;
}
